<a href="https://colab.research.google.com/github/JSunkel/Forecasting-Models/blob/master/AAL_Others_Prophet_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from fbprophet import Prophet
from fbprophet.diagnostics import cross_validation, performance_metrics

In [0]:
# Load the dataset
df = pd.read_csv('drive/My Drive/AAL/daily_aal_others_jan.csv')

In [0]:
# Define the holidays
new_years_day = pd.DataFrame({
    'holiday': 'new_years_day',
    'ds': pd.to_datetime(['2017-01-01',
                          '2018-01-01',
                          '2019-01-01',
                          '2020-01-01']),
    'lower_window': 0,
    'upper_window': 0,
})

mlk_day = pd.DataFrame({
    'holiday': 'mlk_day',
    'ds': pd.to_datetime(['2017-01-16',
                          '2018-01-15',
                          '2019-01-21',
                          '2020-01-20']),
    'lower_window': 0,
    'upper_window': 0,
})

easter_sunday = pd.DataFrame({
    'holiday': 'easter_sunday',
    'ds': pd.to_datetime(['2017-04-16',
                          '2018-04-01',
                          '2019-04-21',
                          '2020-04-12']),
    'lower_window': 0,
    'upper_window': 0,
})

memorial_day = pd.DataFrame({
    'holiday': 'memorial_day',
    'ds': pd.to_datetime(['2017-05-29',
                          '2018-05-28',
                          '2019-05-27',
                          '2020-05-25']),
    'lower_window': 0,
    'upper_window': 0,
})

independence_day = pd.DataFrame({
    'holiday': 'independence_day',
    'ds': pd.to_datetime(['2017-07-04',
                          '2018-07-04',
                          '2019-07-04',
                          '2020-07-04']),
    'lower_window': 0,
    'upper_window': 0,
})

thanksgiving_day = pd.DataFrame({
    'holiday': 'thanksgiving_day',
    'ds': pd.to_datetime(['2017-11-23',
                          '2018-11-22',
                          '2019-11-28',
                          '2020-11-26']),
    'lower_window': -3,
    'upper_window': 0,
})

black_friday = pd.DataFrame({
    'holiday': 'black_friday',
    'ds': pd.to_datetime(['2017-11-24',
                          '2018-11-23',
                          '2019-11-29',
                          '2020-11-27']),
    'lower_window': 0,
    'upper_window': 1,
})

cyber_monday = pd.DataFrame({
    'holiday': 'cyber_monday',
    'ds': pd.to_datetime(['2017-11-27',
                          '2018-11-26',
                          '2019-12-02',
                          '2020-11-30']),
    'lower_window': 0,
    'upper_window': 1,
})

christmas_day = pd.DataFrame({
    'holiday': 'christmas_day',
    'ds': pd.to_datetime(['2017-12-25',
                          '2018-12-25',
                          '2019-12-25',
                          '2020-12-25']),
    'lower_window': -8,
    'upper_window': 3,
})

In [0]:
holidays = pd.concat((new_years_day,
                      mlk_day,
                      easter_sunday,
                      memorial_day,
                      independence_day,
                      thanksgiving_day,
                      black_friday,
                      cyber_monday,
                      christmas_day))

In [69]:
# Define and fit the model
model = Prophet(holidays = holidays)
model.fit(df)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [0]:
# Create a dataframe to hold predictions
future = model.make_future_dataframe(periods = 60)

In [0]:
# Make predictions
forecast = model.predict(future)

In [72]:
# Cross validation
df_cv = cross_validation(model, initial = '730 days', period = '30 days', horizon = '180 days')
df_cv.head()

INFO:fbprophet:Making 8 forecasts with cutoffs between 2019-01-06 00:00:00 and 2019-08-04 00:00:00

          ds         yhat   yhat_lower   yhat_upper     y     cutoff
0 2019-01-07  2228.709141  1877.075718  2565.204108  1883 2019-01-06
1 2019-01-08  2329.579109  1961.756257  2682.084087  1959 2019-01-06
2 2019-01-09  2403.574673  2025.441459  2752.958631  1965 2019-01-06
3 2019-01-10  2305.565615  1947.451248  2645.790410  1888 2019-01-06
4 2019-01-11  2696.718022  2366.115623  3047.072812  2261 2019-01-06

In [73]:
# Performance metrics
df_p = performance_metrics(df_cv)
df_p.head()

  horizon            mse        rmse         mae      mape  coverage
0 18 days   95897.341716  309.672959  254.770185  0.146463  0.750000
1 19 days   97750.738837  312.651146  253.594814  0.147621  0.750000
2 20 days  105593.769842  324.951950  260.261953  0.151449  0.743056
3 21 days  107679.405671  328.145403  262.382750  0.153811  0.743056
4 22 days  109752.116443  331.288570  267.011600  0.157503  0.743056

In [0]:
# Output forecasts to a csv file
forecast.to_csv('drive/My Drive/AAL/feb_mar_aal_others_forecast.csv')