<a href="https://colab.research.google.com/github/JSunkel/Forecasting-Models/blob/master/Line_Disconnects_Device_Group_Same_Day_Prophet_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
from fbprophet import Prophet

In [6]:
# Read a comma-separated values (csv) file into a Pandas DataFrame.
fact_table = pd.read_csv('drive/My Drive/Churn/discos_device_grp_act_vol_invol_same_day_jun.csv')

In [7]:
# Check the full dataset format (testing only)
fact_table.head()

          ds  vol_port_basic_cdma  ...  vol_non_port_tablet  invol_tablet
0  12/1/2016                  218  ...                 2650          1409
1  12/2/2016                  197  ...                 2803           901
2  12/3/2016                  268  ...                 2018          1301
3  12/4/2016                  239  ...                 1393          1067
4  12/5/2016                  198  ...                 2482          1317

[5 rows x 16 columns]

In [9]:
# Split out indivudal datasets for forecasting.
# Voluntary Port Outs - Phones
vol_port_basic_cdma = fact_table[['ds', 'vol_port_basic_cdma']].rename(columns = {'vol_port_basic_cdma': 'y'})
vol_port_basic_non_cdma = fact_table[['ds', 'vol_port_basic_non_cdma']].rename(columns = {'vol_port_basic_non_cdma': 'y'})
vol_port_sp_android_other = fact_table[['ds', 'vol_port_sp_android_other']].rename(columns = {'vol_port_sp_android_other': 'y'})
vol_port_sp_apple = fact_table[['ds', 'vol_port_sp_apple']].rename(columns = {'vol_port_sp_apple': 'y'})

# Voluntary non Port Outs - Phones
vol_non_port_basic_cdma = fact_table[['ds', 'vol_non_port_basic_cdma']].rename(columns = {'vol_non_port_basic_cdma': 'y'})
vol_non_port_basic_non_cdma = fact_table[['ds', 'vol_non_port_basic_non_cdma']].rename(columns = {'vol_non_port_basic_non_cdma': 'y'})
vol_non_port_sp_android_other = fact_table[['ds', 'vol_non_port_sp_android_other']].rename(columns = {'vol_non_port_sp_android_other': 'y'})
vol_non_port_sp_apple = fact_table[['ds', 'vol_non_port_sp_apple']].rename(columns = {'vol_non_port_sp_apple': 'y'})

# Involuntary - Phones
invol_basic_cdma = fact_table[['ds', 'invol_basic_cdma']].rename(columns = {'invol_basic_cdma': 'y'})
invol_basic_non_cdma = fact_table[['ds', 'invol_basic_non_cdma']].rename(columns = {'invol_basic_non_cdma': 'y'})
invol_sp_android_other = fact_table[['ds', 'invol_sp_android_other']].rename(columns = {'invol_sp_android_other': 'y'})
invol_sp_apple = fact_table[['ds', 'invol_sp_apple']].rename(columns = {'invol_sp_apple': 'y'})

# Tablets
vol_port_tablet = fact_table[['ds', 'vol_port_tablet']].rename(columns = {'vol_port_tablet': 'y'})
vol_non_port_tablet = fact_table[['ds', 'vol_non_port_tablet']].rename(columns = {'vol_non_port_tablet': 'y'})
invol_tablet = fact_table[['ds', 'invol_tablet']].rename(columns = {'invol_tablet': 'y'})

In [10]:
# Check the individual dataset format (testing only)
vol_port_tablet.head()

          ds     y
0  12/1/2016  15.0
1  12/2/2016  38.0
2  12/3/2016  34.0
3  12/4/2016  23.0
4  12/5/2016  27.0

In [11]:
# Define the holidays
new_years_day = pd.DataFrame({
    'holiday': 'new_years_day',
    'ds': pd.to_datetime(['2017-01-01',
                          '2018-01-01',
                          '2019-01-01',
                          '2020-01-01']),
    'lower_window': 0,
    'upper_window': 0,
})

mlk_day = pd.DataFrame({
    'holiday': 'mlk_day',
    'ds': pd.to_datetime(['2017-01-16',
                          '2018-01-15',
                          '2019-01-21',
                          '2020-01-20']),
    'lower_window': 0,
    'upper_window': 0,
})

easter_sunday = pd.DataFrame({
    'holiday': 'easter_sunday',
    'ds': pd.to_datetime(['2017-04-16',
                          '2018-04-01',
                          '2019-04-21',
                          '2020-04-12']),
    'lower_window': 0,
    'upper_window': 0,
})

memorial_day = pd.DataFrame({
    'holiday': 'memorial_day',
    'ds': pd.to_datetime(['2017-05-29',
                          '2018-05-28',
                          '2019-05-27',
                          '2020-05-25']),
    'lower_window': 0,
    'upper_window': 0,
})

independence_day = pd.DataFrame({
    'holiday': 'independence_day',
    'ds': pd.to_datetime(['2017-07-04',
                          '2018-07-04',
                          '2019-07-04',
                          '2020-07-04']),
    'lower_window': 0,
    'upper_window': 0,
})

labor_day = pd.DataFrame({
    'holiday': 'labor_day',
    'ds': pd.to_datetime(['2017-09-04',
                          '2018-09-03',
                          '2019-09-02',
                          '2020-09-07']),
    'lower_window': 0,
    'upper_window': 0,
})

thanksgiving_day = pd.DataFrame({
    'holiday': 'thanksgiving_day',
    'ds': pd.to_datetime(['2017-11-23',
                          '2018-11-22',
                          '2019-11-28',
                          '2020-11-26']),
    'lower_window': 0,
    'upper_window': 0,
})

black_friday = pd.DataFrame({
    'holiday': 'black_friday',
    'ds': pd.to_datetime(['2017-11-24',
                          '2018-11-23',
                          '2019-11-29',
                          '2020-11-27']),
    'lower_window': 0,
    'upper_window': 0,
})

cyber_monday = pd.DataFrame({
    'holiday': 'cyber_monday',
    'ds': pd.to_datetime(['2017-11-27',
                          '2018-11-26',
                          '2019-12-02',
                          '2020-11-30']),
    'lower_window': 0,
    'upper_window': 0,
})

christmas_day = pd.DataFrame({
    'holiday': 'christmas_day',
    'ds': pd.to_datetime(['2017-12-25',
                          '2018-12-25',
                          '2019-12-25',
                          '2020-12-25']),
    'lower_window': 0,
    'upper_window': 0,
})

In [12]:
holidays = pd.concat((new_years_day,
                      mlk_day,
                      easter_sunday,
                      memorial_day,
                      independence_day,
                      labor_day,
                      thanksgiving_day,
                      black_friday,
                      cyber_monday,
                      christmas_day))

In [13]:
# Define the models
# Voluntary Port Outs - Phones
vol_port_basic_cdma_model = Prophet(holidays = holidays)
vol_port_basic_non_cdma_model = Prophet(holidays = holidays)
vol_port_sp_android_other_model = Prophet(holidays = holidays)
vol_port_sp_apple_model = Prophet(holidays = holidays)

# Voluntary non Port Outs - Phones
vol_non_port_basic_cdma_model = Prophet(holidays = holidays)
vol_non_port_basic_non_cdma_model = Prophet(holidays = holidays)
vol_non_port_sp_android_other_model = Prophet(holidays = holidays)
vol_non_port_sp_apple_model = Prophet(holidays = holidays)

# Involuntary - Phones
invol_basic_cdma_model = Prophet(holidays = holidays)
invol_basic_non_cdma_model = Prophet(holidays = holidays)
invol_sp_android_other_model = Prophet(holidays = holidays)
invol_sp_apple_model = Prophet(holidays = holidays)

# Tablets
vol_port_tablet_model = Prophet(holidays = holidays)
vol_non_port_tablet_model = Prophet(holidays = holidays)
invol_tablet_model = Prophet(holidays = holidays)

In [14]:
# Fit the models
# Voluntary Port Outs - Phones
vol_port_basic_cdma_model.fit(vol_port_basic_cdma)
vol_port_basic_non_cdma_model.fit(vol_port_basic_non_cdma)
vol_port_sp_android_other_model.fit(vol_port_sp_android_other)
vol_port_sp_apple_model.fit(vol_port_sp_apple)

# Voluntary non Port Outs - Phones
vol_non_port_basic_cdma_model.fit(vol_non_port_basic_cdma)
vol_non_port_basic_non_cdma_model.fit(vol_non_port_basic_non_cdma)
vol_non_port_sp_android_other_model.fit(vol_non_port_sp_android_other)
vol_non_port_sp_apple_model.fit(vol_non_port_sp_apple)

# Involuntary - Phones
invol_basic_cdma_model.fit(invol_basic_cdma)
invol_basic_non_cdma_model.fit(invol_basic_non_cdma)
invol_sp_android_other_model.fit(invol_sp_android_other)
invol_sp_apple_model.fit(invol_sp_apple)

# Tablets
vol_port_tablet_model.fit(vol_port_tablet)
vol_non_port_tablet_model.fit(vol_non_port_tablet)
invol_tablet_model.fit(invol_tablet)

INFO:numexpr.utils:NumExpr defaulting to 2 threads.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [15]:
# Number of periods into the future to forecast
n = 184

In [19]:
# Create dataframes to hold predictions
# Voluntary Port Outs - Phones
vol_port_basic_cdma_future = vol_port_basic_cdma_model.make_future_dataframe(periods = n)
vol_port_basic_non_cdma_future = vol_port_basic_non_cdma_model.make_future_dataframe(periods = n)
vol_port_sp_android_other_future = vol_port_sp_android_other_model.make_future_dataframe(periods = n)
vol_port_sp_apple_future = vol_port_sp_apple_model.make_future_dataframe(periods = n)

# Voluntary non Port Outs - Phones
vol_non_port_basic_cdma_future = vol_non_port_basic_cdma_model.make_future_dataframe(periods = n)
vol_non_port_basic_non_cdma_future = vol_non_port_basic_non_cdma_model.make_future_dataframe(periods = n)
vol_non_port_sp_android_other_future = vol_non_port_sp_android_other_model.make_future_dataframe(periods = n)
vol_non_port_sp_apple_future = vol_non_port_sp_apple_model.make_future_dataframe(periods = n)

# Involuntary -  Phones
invol_basic_cdma_future = invol_basic_cdma_model.make_future_dataframe(periods = n)
invol_basic_non_cdma_future = invol_basic_non_cdma_model.make_future_dataframe(periods = n)
invol_sp_android_other_future = invol_sp_android_other_model.make_future_dataframe(periods = n)
invol_sp_apple_future = invol_sp_apple_model.make_future_dataframe(periods = n)

# Tablets
vol_port_tablet_future = vol_port_tablet_model.make_future_dataframe(periods = n)
vol_non_port_tablet_future = vol_non_port_tablet_model.make_future_dataframe(periods = n)
invol_tablet_future = invol_tablet_model.make_future_dataframe(periods = n)

In [20]:
# Make predictions
# Voluntary Port Outs - Phones
vol_port_basic_cdma_forecast = vol_port_basic_cdma_model.predict(vol_port_basic_cdma_future)
vol_port_basic_non_cdma_forecast = vol_port_basic_non_cdma_model.predict(vol_port_basic_non_cdma_future)
vol_port_sp_android_other_forecast = vol_port_sp_android_other_model.predict(vol_port_sp_android_other_future)
vol_port_sp_apple_forecast = vol_port_sp_apple_model.predict(vol_port_sp_apple_future)

# Voluntary non Port Outs - Phones
vol_non_port_basic_cdma_forecast = vol_non_port_basic_cdma_model.predict(vol_non_port_basic_cdma_future)
vol_non_port_basic_non_cdma_forecast = vol_non_port_basic_non_cdma_model.predict(vol_non_port_basic_non_cdma_future)
vol_non_port_sp_android_other_forecast = vol_non_port_sp_android_other_model.predict(vol_non_port_sp_android_other_future)
vol_non_port_sp_apple_forecast = vol_non_port_sp_apple_model.predict(vol_non_port_sp_apple_future)

# Involuntary - Phones
invol_basic_cdma_forecast = invol_basic_cdma_model.predict(invol_basic_cdma_future)
invol_basic_non_cdma_forecast = invol_basic_non_cdma_model.predict(invol_basic_non_cdma_future)
invol_sp_android_other_forecast = invol_sp_android_other_model.predict(invol_sp_android_other_future)
invol_sp_apple_forecast = invol_sp_apple_model.predict(invol_sp_apple_future)

# Tablets
vol_port_tablet_forecast = vol_port_tablet_model.predict(vol_port_tablet_future)
vol_non_port_tablet_forecast = vol_non_port_tablet_model.predict(vol_non_port_tablet_future)
invol_tablet_forecast = invol_tablet_model.predict(invol_tablet_future)

In [21]:
# Get the datestamp and prediction columns
# Voluntary Port Outs - Phones
vol_port_basic_cdma_forecast_subset = vol_port_basic_cdma_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Port_Basic_CDMA'})
vol_port_basic_non_cdma_forecast_subset = vol_port_basic_non_cdma_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Port_Basic_non_CDMA'})
vol_port_sp_android_other_forecast_subset = vol_port_sp_android_other_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Port_SP_Android_Other'})
vol_port_sp_apple_forecast_subset = vol_port_sp_apple_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Port_SP_Apple'})

# Voluntary non Port Outs - Phones
vol_non_port_basic_cdma_forecast_subset = vol_non_port_basic_cdma_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Non_Port_Basic_CDMA'})
vol_non_port_basic_non_cdma_forecast_subset = vol_non_port_basic_non_cdma_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Non_Port_Basic_non_CDMA'})
vol_non_port_sp_android_other_forecast_subset = vol_non_port_sp_android_other_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Non_Port_SP_Android_Other'})
vol_non_port_sp_apple_forecast_subset = vol_non_port_sp_apple_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Non_Port_SP_Apple'})

# Involuntary - Phones
invol_basic_cdma_forecast_subset = invol_basic_cdma_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Invol_Basic_CDMA'})
invol_basic_non_cdma_forecast_subset = invol_basic_non_cdma_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Invol_Basic_non_CDMA'})
invol_sp_android_other_forecast_subset = invol_sp_android_other_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Invol_SP_Android_Other'})
invol_sp_apple_forecast_subset = invol_sp_apple_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Invol_SP_Apple'})

# Tablets
vol_port_tablet_forecast_subset = vol_port_tablet_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Port_Tablet'})
vol_non_port_tablet_forecast_subset = vol_non_port_tablet_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Non_Port_Tablet'})
invol_tablet_forecast_subset = invol_tablet_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Invol_Tablet'})

In [22]:
# Check the format of the subsetted forecasts (testing only)
invol_tablet_forecast_subset.tail()

             ds  Invol_Tablet
1487 2020-12-27    305.182469
1488 2020-12-28    275.378877
1489 2020-12-29    417.604544
1490 2020-12-30    524.871703
1491 2020-12-31    549.119633

In [23]:
# Growth multiplier
gm = 1.00

In [26]:
# Replace any negative values and scale the forecast using the growth multiplier
# Voluntary Port Outs - Phones
vol_port_basic_cdma_forecast_subset['Vol_Port_Basic_CDMA'] = vol_port_basic_cdma_forecast_subset['Vol_Port_Basic_CDMA'].abs() * gm
vol_port_basic_non_cdma_forecast_subset['Vol_Port_Basic_non_CDMA'] = vol_port_basic_non_cdma_forecast_subset['Vol_Port_Basic_non_CDMA'].abs() * gm
vol_port_sp_android_other_forecast_subset['Vol_Port_SP_Android_Other'] = vol_port_sp_android_other_forecast_subset['Vol_Port_SP_Android_Other'].abs() * gm
vol_port_sp_apple_forecast_subset['Vol_Port_SP_Apple'] = vol_port_sp_apple_forecast_subset['Vol_Port_SP_Apple'].abs() * gm

# Voluntary non Port Outs - Phones
vol_non_port_basic_cdma_forecast_subset['Vol_Non_Port_Basic_CDMA'] = vol_non_port_basic_cdma_forecast_subset['Vol_Non_Port_Basic_CDMA'].abs() * gm
vol_non_port_basic_non_cdma_forecast_subset['Vol_Non_Port_Basic_non_CDMA'] = vol_non_port_basic_non_cdma_forecast_subset['Vol_Non_Port_Basic_non_CDMA'].abs() * gm
vol_non_port_sp_android_other_forecast_subset['Vol_Non_Port_SP_Android_Other'] = vol_non_port_sp_android_other_forecast_subset['Vol_Non_Port_SP_Android_Other'].abs() * gm
vol_non_port_sp_apple_forecast_subset['Vol_Non_Port_SP_Apple'] = vol_non_port_sp_apple_forecast_subset['Vol_Non_Port_SP_Apple'].abs() * gm

# Involuntary - Phones
invol_basic_cdma_forecast_subset['Invol_Basic_CDMA'] = invol_basic_cdma_forecast_subset['Invol_Basic_CDMA'].abs() * gm
invol_basic_non_cdma_forecast_subset['Invol_Basic_non_CDMA'] = invol_basic_non_cdma_forecast_subset['Invol_Basic_non_CDMA'].abs() * gm
invol_sp_android_other_forecast_subset['Invol_SP_Android_Other'] = invol_sp_android_other_forecast_subset['Invol_SP_Android_Other'].abs() * gm
invol_sp_apple_forecast_subset['Invol_SP_Apple'] = invol_sp_apple_forecast_subset['Invol_SP_Apple'].abs() * gm

# Tablet
vol_port_tablet_forecast_subset['Vol_Port_Tablet'] = vol_port_tablet_forecast_subset['Vol_Port_Tablet'].abs() * gm
vol_non_port_tablet_forecast_subset['Vol_Non_Port_Tablet'] = vol_non_port_tablet_forecast_subset['Vol_Non_Port_Tablet'].abs() * gm
invol_tablet_forecast_subset['Invol_Tablet'] = invol_tablet_forecast_subset['Invol_Tablet'].abs() * gm

In [27]:
# Check the format of the adjusted forecasts (testing only)
invol_tablet_forecast_subset.tail()

             ds  Invol_Tablet
1487 2020-12-27    305.182469
1488 2020-12-28    275.378877
1489 2020-12-29    417.604544
1490 2020-12-30    524.871703
1491 2020-12-31    549.119633

In [28]:
# Combine the forecasts into one table
# Voluntary Port Outs - Phones
discos_device_grp_pred_table = vol_port_basic_cdma_forecast_subset
discos_device_grp_pred_table.insert(2, 'Vol_Port_Basic_non_CDMA', vol_port_basic_non_cdma_forecast_subset['Vol_Port_Basic_non_CDMA'])
discos_device_grp_pred_table.insert(3, 'Vol_Port_SP_Android_Other', vol_port_sp_android_other_forecast_subset['Vol_Port_SP_Android_Other'])
discos_device_grp_pred_table.insert(4, 'Vol_Port_SP_Apple', vol_port_sp_apple_forecast_subset['Vol_Port_SP_Apple'])

# Voluntary Non Port Outs - Phones
discos_device_grp_pred_table.insert(5, 'Vol_Non_Port_Basic_CDMA', vol_non_port_basic_cdma_forecast_subset['Vol_Non_Port_Basic_CDMA'])
discos_device_grp_pred_table.insert(6, 'Vol_Non_Port_Basic_non_CDMA', vol_non_port_basic_non_cdma_forecast_subset['Vol_Non_Port_Basic_non_CDMA'])
discos_device_grp_pred_table.insert(7, 'Vol_Non_Port_SP_Android_Other', vol_non_port_sp_android_other_forecast_subset['Vol_Non_Port_SP_Android_Other'])
discos_device_grp_pred_table.insert(8, 'Vol_Non_Port_SP_Apple', vol_non_port_sp_apple_forecast_subset['Vol_Non_Port_SP_Apple'])

# Involuntary - Phones
discos_device_grp_pred_table.insert(9, 'Invol_Basic_CDMA', invol_basic_cdma_forecast_subset['Invol_Basic_CDMA'])
discos_device_grp_pred_table.insert(10, 'Invol_Basic_non_CDMA', invol_basic_non_cdma_forecast_subset['Invol_Basic_non_CDMA'])
discos_device_grp_pred_table.insert(11, 'Invol_SP_Android_Other', invol_sp_android_other_forecast_subset['Invol_SP_Android_Other'])
discos_device_grp_pred_table.insert(12, 'Invol_SP_Apple', invol_sp_apple_forecast_subset['Invol_SP_Apple'])

# Tablet
discos_device_grp_pred_table.insert(13, 'Vol_Port_Tablet', vol_port_tablet_forecast_subset['Vol_Port_Tablet'])
discos_device_grp_pred_table.insert(14, 'Vol_Non_Port_Tablet', vol_non_port_tablet_forecast_subset['Vol_Non_Port_Tablet'])
discos_device_grp_pred_table.insert(15, 'Invol_Tablet', invol_tablet_forecast_subset['Invol_Tablet'])

In [29]:
# Check the format of the final predictions table (testing only)
discos_device_grp_pred_table.tail()

             ds  Vol_Port_Basic_CDMA  ...  Vol_Non_Port_Tablet  Invol_Tablet
1487 2020-12-27            44.519242  ...            14.711535    305.182469
1488 2020-12-28            80.730564  ...          1084.780669    275.378877
1489 2020-12-29            78.378351  ...           926.829108    417.604544
1490 2020-12-30            80.871392  ...           850.831887    524.871703
1491 2020-12-31            81.132873  ...           837.679764    549.119633

[5 rows x 16 columns]

In [31]:
# Calculate the root mean squared error (testing only)
print("Vol Port Basic CDMA RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Vol_Port_Basic_CDMA'] - fact_table['vol_port_basic_cdma']) ** 2)))
print("Vol Port Basic Non CDMA RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Vol_Port_Basic_non_CDMA'] - fact_table['vol_port_basic_non_cdma']) ** 2)))
print("Vol Port SP Android Other RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Vol_Port_SP_Android_Other'] - fact_table['vol_port_sp_android_other']) ** 2)))
print("Vol Port SP Apple RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Vol_Port_SP_Apple'] - fact_table['vol_port_sp_apple']) ** 2)))
print("Vol Non Port Basic CDMA RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Vol_Non_Port_Basic_CDMA'] - fact_table['vol_non_port_basic_cdma']) ** 2)))
print("Vol Non Port Basic Non CDMA RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Vol_Non_Port_Basic_non_CDMA'] - fact_table['vol_non_port_basic_non_cdma']) ** 2)))
print("Vol Non Port SP Android Other RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Vol_Non_Port_SP_Android_Other'] - fact_table['vol_non_port_sp_android_other']) ** 2)))
print("Vol Non Port SP Apple RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Vol_Non_Port_SP_Apple'] - fact_table['vol_non_port_sp_apple']) ** 2)))
print("Invol Basic CDMA RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Invol_Basic_CDMA'] - fact_table['invol_basic_cdma']) ** 2)))
print("Invol Basic Non CDMA RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Invol_Basic_non_CDMA'] - fact_table['invol_basic_non_cdma']) ** 2)))
print("Invol SP Android Other RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Invol_SP_Android_Other'] - fact_table['invol_sp_android_other']) ** 2)))
print("Invol SP Apple RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Invol_SP_Apple'] - fact_table['invol_sp_apple']) ** 2)))
print("Vol Port Tablet RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Vol_Port_Tablet'] - fact_table['vol_port_tablet']) ** 2)))
print("Vol Non Port Tablet RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Vol_Non_Port_Tablet'] - fact_table['vol_non_port_tablet']) ** 2)))
print("Invol Tablet RMSE: %f" % np.sqrt(np.mean((discos_device_grp_pred_table.loc[:1307, 'Invol_Tablet'] - fact_table['invol_tablet']) ** 2)))

Vol Port Basic CDMA RMSE: 28.082702
Vol Port Basic Non CDMA RMSE: 4.420816
Vol Port SP Android Other RMSE: 119.925264
Vol Port SP Apple RMSE: 186.529134
Vol Non Port Basic CDMA RMSE: 92.249012
Vol Non Port Basic Non CDMA RMSE: 26.341819
Vol Non Port SP Android Other RMSE: 126.148933
Vol Non Port SP Apple RMSE: 150.636193
Invol Basic CDMA RMSE: 55.393191
Invol Basic Non CDMA RMSE: 17.794407
Invol SP Android Other RMSE: 416.901912
Invol SP Apple RMSE: 460.589771
Vol Port Tablet RMSE: 5.770867
Vol Non Port Tablet RMSE: 210.245675
Invol Tablet RMSE: 317.575127

In [32]:
# Save the predictions table to a csv file
discos_device_grp_pred_table.to_csv('drive/My Drive/Churn/discos_device_grp_same_day_pred_table.csv')