<a href="https://colab.research.google.com/github/JSunkel/Forecasting-Models/blob/master/Line_Disconnects_Apple_Vol_Port_Carriers_Same_Day_Prophet_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from fbprophet import Prophet

In [3]:
# Read a comma-separated values (csv) file into a Pandas DataFrame.
fact_table = pd.read_csv('drive/My Drive/Churn/discos_fact_table_apple_vol_port_carriers_same_day_may.csv')

In [4]:
# Check the full dataset format (testing only)
fact_table.head()

          ds  vol_port_attonly  ...  vol_port_reseller  vol_port_other
0  12/1/2016               318  ...                 80              18
1  12/2/2016               401  ...                 47              24
2  12/3/2016               625  ...                 61              30
3  12/4/2016               480  ...                 52              13
4  12/5/2016               426  ...                 45              18

[5 rows x 10 columns]

In [6]:
# Split out indivudal datasets for forecasting.
# AT&T
vol_port_attonly = fact_table[['ds', 'vol_port_attonly']].rename(columns = {'vol_port_attonly': 'y'})
vol_port_attcc = fact_table[['ds', 'vol_port_attcc']].rename(columns = {'vol_port_attcc': 'y'})

# Sprint
vol_port_sprint = fact_table[['ds', 'vol_port_sprint']].rename(columns = {'vol_port_sprint': 'y'})

# T-Mobile
vol_port_tmo_only = fact_table[['ds', 'vol_port_tmo_only']].rename(columns = {'vol_port_tmo_only': 'y'})
vol_port_metro = fact_table[['ds', 'vol_port_metro']].rename(columns = {'vol_port_metro': 'y'})

# Spectrum
vol_port_spectrum = fact_table[['ds', 'vol_port_spectrum']].rename(columns = {'vol_port_spectrum': 'y'})

# Xfinity
vol_port_xfinity = fact_table[['ds', 'vol_port_xfinity']].rename(columns = {'vol_port_xfinity': 'y'})

# Reseller
vol_port_reseller = fact_table[['ds', 'vol_port_reseller']].rename(columns = {'vol_port_reseller': 'y'})

# Other
vol_port_other = fact_table[['ds', 'vol_port_other']].rename(columns = {'vol_port_other': 'y'})

In [7]:
# Check the individual dataset format (testing only)
vol_port_sprint.head()

          ds    y
0  12/1/2016  242
1  12/2/2016  247
2  12/3/2016  378
3  12/4/2016  326
4  12/5/2016  281

In [8]:
# Define the holidays
new_years_day = pd.DataFrame({
    'holiday': 'new_years_day',
    'ds': pd.to_datetime(['2017-01-01',
                          '2018-01-01',
                          '2019-01-01',
                          '2020-01-01']),
    'lower_window': 0,
    'upper_window': 0,
})

mlk_day = pd.DataFrame({
    'holiday': 'mlk_day',
    'ds': pd.to_datetime(['2017-01-16',
                          '2018-01-15',
                          '2019-01-21',
                          '2020-01-20']),
    'lower_window': 0,
    'upper_window': 0,
})

easter_sunday = pd.DataFrame({
    'holiday': 'easter_sunday',
    'ds': pd.to_datetime(['2017-04-16',
                          '2018-04-01',
                          '2019-04-21',
                          '2020-04-12']),
    'lower_window': 0,
    'upper_window': 0,
})

memorial_day = pd.DataFrame({
    'holiday': 'memorial_day',
    'ds': pd.to_datetime(['2017-05-29',
                          '2018-05-28',
                          '2019-05-27',
                          '2020-05-25']),
    'lower_window': 0,
    'upper_window': 0,
})

independence_day = pd.DataFrame({
    'holiday': 'independence_day',
    'ds': pd.to_datetime(['2017-07-04',
                          '2018-07-04',
                          '2019-07-04',
                          '2020-07-04']),
    'lower_window': 0,
    'upper_window': 0,
})

labor_day = pd.DataFrame({
    'holiday': 'labor_day',
    'ds': pd.to_datetime(['2017-09-04',
                          '2018-09-03',
                          '2019-09-02',
                          '2020-09-07']),
    'lower_window': 0,
    'upper_window': 0,
})

thanksgiving_day = pd.DataFrame({
    'holiday': 'thanksgiving_day',
    'ds': pd.to_datetime(['2017-11-23',
                          '2018-11-22',
                          '2019-11-28',
                          '2020-11-26']),
    'lower_window': 0,
    'upper_window': 0,
})

black_friday = pd.DataFrame({
    'holiday': 'black_friday',
    'ds': pd.to_datetime(['2017-11-24',
                          '2018-11-23',
                          '2019-11-29',
                          '2020-11-27']),
    'lower_window': 0,
    'upper_window': 0,
})

cyber_monday = pd.DataFrame({
    'holiday': 'cyber_monday',
    'ds': pd.to_datetime(['2017-11-27',
                          '2018-11-26',
                          '2019-12-02',
                          '2020-11-30']),
    'lower_window': 0,
    'upper_window': 0,
})

christmas_day = pd.DataFrame({
    'holiday': 'christmas_day',
    'ds': pd.to_datetime(['2017-12-25',
                          '2018-12-25',
                          '2019-12-25',
                          '2020-12-25']),
    'lower_window': 0,
    'upper_window': 0,
})

In [9]:
holidays = pd.concat((new_years_day,
                      mlk_day,
                      easter_sunday,
                      memorial_day,
                      independence_day,
                      labor_day,
                      thanksgiving_day,
                      black_friday,
                      cyber_monday,
                      christmas_day))

In [10]:
# Define the models
# AT&T
vol_port_attonly_model = Prophet(holidays = holidays)
vol_port_attcc_model = Prophet(holidays = holidays)

# Sprint
vol_port_sprint_model = Prophet(holidays = holidays)

# T-Mobile
vol_port_tmo_only_model = Prophet(holidays = holidays)
vol_port_metro_model = Prophet(holidays = holidays)

# Spectrum
vol_port_spectrum_model = Prophet(holidays = holidays)

# Xfinity
vol_port_xfinity_model = Prophet(holidays = holidays)

# Reseller
vol_port_reseller_model = Prophet(holidays = holidays)

# Other
vol_port_other_model = Prophet(holidays = holidays)

In [11]:
# Fit the models
# AT&T
vol_port_attonly_model.fit(vol_port_attonly)
vol_port_attcc_model.fit(vol_port_attcc)

# Sprint
vol_port_sprint_model.fit(vol_port_sprint)

# T-Mobile
vol_port_tmo_only_model.fit(vol_port_tmo_only)
vol_port_metro_model.fit(vol_port_metro)

# Spectrum
vol_port_spectrum_model.fit(vol_port_spectrum)

# Xfinity
vol_port_xfinity_model.fit(vol_port_xfinity)

# Reseller
vol_port_reseller_model.fit(vol_port_reseller)

# Other
vol_port_other_model.fit(vol_port_other)

INFO:numexpr.utils:NumExpr defaulting to 2 threads.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [12]:
# Number of periods into the future to forecast
n = 214

In [14]:
# Create dataframes to hold predictions
# AT&T
vol_port_attonly_future = vol_port_attonly_model.make_future_dataframe(periods = n)
vol_port_attcc_future = vol_port_attcc_model.make_future_dataframe(periods = n)

# Sprint
vol_port_sprint_future = vol_port_sprint_model.make_future_dataframe(periods = n)

# T-Mobile
vol_port_tmo_only_future = vol_port_tmo_only_model.make_future_dataframe(periods = n)
vol_port_metro_future = vol_port_metro_model.make_future_dataframe(periods = n)

# Spectrum
vol_port_spectrum_future = vol_port_spectrum_model.make_future_dataframe(periods = n)

# Xfinity
vol_port_xfinity_future = vol_port_xfinity_model.make_future_dataframe(periods = n)

# Reseller
vol_port_reseller_future = vol_port_reseller_model.make_future_dataframe(periods = n)

# Other
vol_port_other_future = vol_port_other_model.make_future_dataframe(periods = n)

In [ ]:
# Make predictions
# AT&T
vol_port_att_only_forecast = vol_port_att_only_model.predict(vol_port_att_only_future)
vol_port_attcc_forecast = vol_port_attcc_model.predict(vol_port_attcc_future)

# Sprint
vol_port_sprint_forecast = vol_port_sprint_model.predict(vol_port_sprint_future)

# T-Mobile
vol_port_tmo_only_forecast = vol_port_tmo_only_model.predict(vol_port_tmo_only_future)
vol_port_metro_forecast = vol_port_metro_model.predict(vol_port_metro_future)

# Spectrum
vol_port_spectrum_forecast = vol_port_spectrum_model.predict(vol_port_spectrum_future)

# Xfinity
vol_port_xfinity_forecast = vol_port_xfinity_model.predict(vol_port_xfinity_future)

# Reseller
vol_port_reseller_forecast = vol_port_reseller_model.predict(vol_port_reseller_future)

# Other
vol_port_other_forecast = vol_port_other_model.predict(vol_port_other_future)

In [ ]:
# Get the datestamp and prediction columns
# AT&T
vol_port_basic_cdma_forecast_subset = vol_port_basic_cdma_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Port_Basic_CDMA'})
vol_port_basic_non_cdma_forecast_subset = vol_port_basic_non_cdma_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Port_Basic_non_CDMA'})


vol_port_sp_android_other_forecast_subset = vol_port_sp_android_other_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Port_SP_Android_Other'})
vol_port_sp_apple_forecast_subset = vol_port_sp_apple_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Port_SP_Apple'})

# Voluntary non Port Outs
vol_non_port_basic_cdma_forecast_subset = vol_non_port_basic_cdma_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Non_Port_Basic_CDMA'})
vol_non_port_basic_non_cdma_forecast_subset = vol_non_port_basic_non_cdma_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Non_Port_Basic_non_CDMA'})
vol_non_port_sp_android_other_forecast_subset = vol_non_port_sp_android_other_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Non_Port_SP_Android_Other'})
vol_non_port_sp_apple_forecast_subset = vol_non_port_sp_apple_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Vol_Non_Port_SP_Apple'})

# Involuntary
invol_basic_cdma_forecast_subset = invol_basic_cdma_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Invol_Basic_CDMA'})
invol_basic_non_cdma_forecast_subset = invol_basic_non_cdma_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Invol_Basic_non_CDMA'})
invol_sp_android_other_forecast_subset = invol_sp_android_other_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Invol_SP_Android_Other'})
invol_sp_apple_forecast_subset = invol_sp_apple_forecast[['ds', 'yhat']].rename(columns = {'yhat': 'Invol_SP_Apple'})

In [ ]:
# Check the format of the subsetted forecasts (testing only)
vol_port_basic_cdma_forecast_subset.tail()

             ds  Vol_Port_Basic_CDMA
1487 2020-12-27            44.519242
1488 2020-12-28            80.730564
1489 2020-12-29            78.378351
1490 2020-12-30            80.871392
1491 2020-12-31            81.132873

In [ ]:
# Growth multiplier
gm = 1.00

In [ ]:
# Replace any negative values and scale the forecast using the growth multiplier
# Voluntary Port Outs 
vol_port_basic_cdma_forecast_subset['Vol_Port_Basic_CDMA'] = vol_port_basic_cdma_forecast_subset['Vol_Port_Basic_CDMA'].abs() * gm
vol_port_basic_non_cdma_forecast_subset['Vol_Port_Basic_non_CDMA'] = vol_port_basic_non_cdma_forecast_subset['Vol_Port_Basic_non_CDMA'].abs() * gm
vol_port_sp_android_other_forecast_subset['Vol_Port_SP_Android_Other'] = vol_port_sp_android_other_forecast_subset['Vol_Port_SP_Android_Other'].abs() * gm
vol_port_sp_apple_forecast_subset['Vol_Port_SP_Apple'] = vol_port_sp_apple_forecast_subset['Vol_Port_SP_Apple'].abs() * gm

# Voluntary non Port Outs
vol_non_port_basic_cdma_forecast_subset['Vol_Non_Port_Basic_CDMA'] = vol_non_port_basic_cdma_forecast_subset['Vol_Non_Port_Basic_CDMA'].abs() * gm
vol_non_port_basic_non_cdma_forecast_subset['Vol_Non_Port_Basic_non_CDMA'] = vol_non_port_basic_non_cdma_forecast_subset['Vol_Non_Port_Basic_non_CDMA'].abs() * gm
vol_non_port_sp_android_other_forecast_subset['Vol_Non_Port_SP_Android_Other'] = vol_non_port_sp_android_other_forecast_subset['Vol_Non_Port_SP_Android_Other'].abs() * gm
vol_non_port_sp_apple_forecast_subset['Vol_Non_Port_SP_Apple'] = vol_non_port_sp_apple_forecast_subset['Vol_Non_Port_SP_Apple'].abs() * gm

# Involuntary
invol_basic_cdma_forecast_subset['Invol_Basic_CDMA'] = invol_basic_cdma_forecast_subset['Invol_Basic_CDMA'].abs() * gm
invol_basic_non_cdma_forecast_subset['Invol_Basic_non_CDMA'] = invol_basic_non_cdma_forecast_subset['Invol_Basic_non_CDMA'].abs() * gm
invol_sp_android_other_forecast_subset['Invol_SP_Android_Other'] = invol_sp_android_other_forecast_subset['Invol_SP_Android_Other'].abs() * gm
invol_sp_apple_forecast_subset['Invol_SP_Apple'] = invol_sp_apple_forecast_subset['Invol_SP_Apple'].abs() * gm

In [ ]:
# Check the format of the adjusted forecasts (testing only)
vol_port_sp_apple_forecast_subset.tail()

             ds  Vol_Port_SP_Apple
1487 2020-12-27         590.533000
1488 2020-12-28         749.989547
1489 2020-12-29         704.426314
1490 2020-12-30         731.146093
1491 2020-12-31         717.044047

In [ ]:
# Combine the forecasts into one table
# Voluntary Port Outs
discos_device_grp_phone_pred_table = vol_port_basic_cdma_forecast_subset
discos_device_grp_phone_pred_table.insert(2, 'Vol_Port_Basic_non_CDMA', vol_port_basic_non_cdma_forecast_subset['Vol_Port_Basic_non_CDMA'])
discos_device_grp_phone_pred_table.insert(3, 'Vol_Port_SP_Android_Other', vol_port_sp_android_other_forecast_subset['Vol_Port_SP_Android_Other'])
discos_device_grp_phone_pred_table.insert(4, 'Vol_Port_SP_Apple', vol_port_sp_apple_forecast_subset['Vol_Port_SP_Apple'])

# Voluntary Non Port Outs
discos_device_grp_phone_pred_table.insert(5, 'Vol_Non_Port_Basic_CDMA', vol_non_port_basic_cdma_forecast_subset['Vol_Non_Port_Basic_CDMA'])
discos_device_grp_phone_pred_table.insert(6, 'Vol_Non_Port_Basic_non_CDMA', vol_non_port_basic_non_cdma_forecast_subset['Vol_Non_Port_Basic_non_CDMA'])
discos_device_grp_phone_pred_table.insert(7, 'Vol_Non_Port_SP_Android_Other', vol_non_port_sp_android_other_forecast_subset['Vol_Non_Port_SP_Android_Other'])
discos_device_grp_phone_pred_table.insert(8, 'Vol_Non_Port_SP_Apple', vol_non_port_sp_apple_forecast_subset['Vol_Non_Port_SP_Apple'])

# Involuntary
discos_device_grp_phone_pred_table.insert(9, 'Invol_Basic_CDMA', invol_basic_cdma_forecast_subset['Invol_Basic_CDMA'])
discos_device_grp_phone_pred_table.insert(10, 'Invol_Basic_non_CDMA', invol_basic_non_cdma_forecast_subset['Invol_Basic_non_CDMA'])
discos_device_grp_phone_pred_table.insert(11, 'Invol_SP_Android_Other', invol_sp_android_other_forecast_subset['Invol_SP_Android_Other'])
discos_device_grp_phone_pred_table.insert(12, 'Invol_SP_Apple', invol_sp_apple_forecast_subset['Invol_SP_Apple'])

In [ ]:
# Check the format of the final predictions table (testing only)
discos_device_grp_phone_pred_table.tail()

             ds  Vol_Port_Basic_CDMA  ...  Invol_SP_Android_Other  Invol_SP_Apple
1487 2020-12-27            44.519242  ...              670.992117      476.129166
1488 2020-12-28            80.730564  ...              631.724396      432.660557
1489 2020-12-29            78.378351  ...              824.207419      659.437236
1490 2020-12-30            80.871392  ...             1038.758569      837.135239
1491 2020-12-31            81.132873  ...             1034.720937      871.004530

[5 rows x 13 columns]

In [ ]:
# Calculate the root mean squared error (testing only)
print("Vol Port Basic CDMA RMSE: %f" % np.sqrt(np.mean((discos_device_grp_phone_pred_table.loc[:1307, 'Vol_Port_Basic_CDMA'] - fact_table['vol_port_basic_cdma']) ** 2)))
print("Vol Port Basic Non CDMA RMSE: %f" % np.sqrt(np.mean((discos_device_grp_phone_pred_table.loc[:1307, 'Vol_Port_Basic_non_CDMA'] - fact_table['vol_port_basic_non_cdma']) ** 2)))
print("Vol Port SP Android Other RMSE: %f" % np.sqrt(np.mean((discos_device_grp_phone_pred_table.loc[:1307, 'Vol_Port_SP_Android_Other'] - fact_table['vol_port_sp_android_other']) ** 2)))
print("Vol Port SP Apple RMSE: %f" % np.sqrt(np.mean((discos_device_grp_phone_pred_table.loc[:1307, 'Vol_Port_SP_Apple'] - fact_table['vol_port_sp_apple']) ** 2)))
print("Vol Non Port Basic CDMA RMSE: %f" % np.sqrt(np.mean((discos_device_grp_phone_pred_table.loc[:1307, 'Vol_Non_Port_Basic_CDMA'] - fact_table['vol_non_port_basic_cdma']) ** 2)))
print("Vol Non Port Basic Non CDMA RMSE: %f" % np.sqrt(np.mean((discos_device_grp_phone_pred_table.loc[:1307, 'Vol_Non_Port_Basic_non_CDMA'] - fact_table['vol_non_port_basic_non_cdma']) ** 2)))
print("Vol Non Port SP Android Other RMSE: %f" % np.sqrt(np.mean((discos_device_grp_phone_pred_table.loc[:1307, 'Vol_Non_Port_SP_Android_Other'] - fact_table['vol_non_port_sp_android_other']) ** 2)))
print("Vol Non Port SP Apple RMSE: %f" % np.sqrt(np.mean((discos_device_grp_phone_pred_table.loc[:1307, 'Vol_Non_Port_SP_Apple'] - fact_table['vol_non_port_sp_apple']) ** 2)))
print("Invol Basic CDMA RMSE: %f" % np.sqrt(np.mean((discos_device_grp_phone_pred_table.loc[:1307, 'Invol_Basic_CDMA'] - fact_table['invol_basic_cdma']) ** 2)))
print("Invol Basic Non CDMA RMSE: %f" % np.sqrt(np.mean((discos_device_grp_phone_pred_table.loc[:1307, 'Invol_Basic_non_CDMA'] - fact_table['invol_basic_non_cdma']) ** 2)))
print("Invol SP Android Other RMSE: %f" % np.sqrt(np.mean((discos_device_grp_phone_pred_table.loc[:1307, 'Invol_SP_Android_Other'] - fact_table['invol_sp_android_other']) ** 2)))
print("Invol SP Apple RMSE: %f" % np.sqrt(np.mean((discos_device_grp_phone_pred_table.loc[:1307, 'Invol_SP_Apple'] - fact_table['invol_sp_apple']) ** 2)))

Vol Port Basic CDMA RMSE: 28.082702
Vol Port Basic Non CDMA RMSE: 4.420816
Vol Port SP Android Other RMSE: 119.925264
Vol Port SP Apple RMSE: 186.529134
Vol Non Port Basic CDMA RMSE: 92.249012
Vol Non Port Basic Non CDMA RMSE: 26.341819
Vol Non Port SP Android Other RMSE: 126.148933
Vol Non Port SP Apple RMSE: 150.636193
Invol Basic CDMA RMSE: 55.393191
Invol Basic Non CDMA RMSE: 17.794407
Invol SP Android Other RMSE: 416.901912
Invol SP Apple RMSE: 460.589771

In [ ]:
# Save the predictions table to a csv file
discos_device_grp_phone_pred_table.to_csv('drive/My Drive/Churn/discos_device_grp_phone_same_day_pred_table.csv')